*{
    padding:0;
    margin:0;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    box-sizing: border-box;
}
body{
    background: rgb(7, 7, 17);
    color: white;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url("https://i.imgur.com/oLK3E0N.jpg");
    background-size: cover;
    background-position: center; 
    background-blend-mode:hard-light;
}
.container{
    padding: 15px 5%;

}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 240px;

}

nav ul li { 
    display: inline-block;
    list-style: none;
    margin: 15px 55px;

}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 300;
    position: relative;
}
nav ul li a::after {        
        content: "";
        width: 0%;
        height: 3px;
        background: #FF4000;
        position: absolute;
        left: 0;
        bottom: -2px;
        transition: 0.5s;
    
}
nav ul li a:hover::after{
    width:100%;
}
.header-text{
    margin-top: 10%;
    text-align: center;
    font-size: 55px;
}
.header-text h1{
    font-size: 55px;
    margin-top: 5px;
}
.header-text h1 span{
    color:#FF4000;
}
.header-text h2{
    font-size: 70px;
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
    margin-top: 75px;
    color: white;
    word-spacing: 5px;
}
/*------Separador----->*/
#bott{
    padding: 80px 0;
    color: rgb(194, 255, 247);
    font-size: 20px;
}
.column{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
img {border-radius: 50px;
    width: 1000px;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 5%;
}
/*------------ Responsive -------*/
nav .fa-solid{
    display: none;
}
@media only screen and (max-width: 600px){
   
    .header-text{
        margin-top: 10%;
        text-align: center;
        font-size: 25px;
    }
    .header-text h1{
        font-size: 45px;
        margin-top: 5px;
    }
    .header-text h1 span{
        color:#FF4000;
    }
    .header-text h2{
        font-size: 50px;
        font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
        margin-top: 35px;
        color: white;
        word-spacing: 5px;
  }
  .logo{
    width: 360px;
  }
  nav .fa-solid{
    display: block;
    font-size: 25px;
    }
  nav ul{
    background: rgb(9, 8, 20);
    opacity: 0.8;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    transition: right 0.7s;
  }
  nav ul li{
    display: block;
    margin: 25px; 
  }
  nav ul .fa-solid{
    position: absolute;
    top: 25px; 
    left: 25px;
    cursor: pointer;
    z-index: 2;
  }

  img {border-radius: 50px;
    width: 500px;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 5%;}
}