*{
    padding:0;
    margin:0;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    box-sizing: border-box;
}
body{
    background: black;
    color: white;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url("https://i.imgur.com/cSQfP5E.jpg");
    background-size: cover;
    background-position: center; 
}
.container{
    padding: 25px 10%;

}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;

}

nav ul li { 
    display: inline-block;
    list-style: none;
    margin: 15px 55px;

}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    position: relative;
}
nav ul li a::after {        
        content: "";
        width: 0%;
        height: 3px;
        background: #33FFAC;
        position: absolute;
        left: 0;
        bottom: -2px;
        transition: 0.5s;
    
}
nav ul li a:hover::after{
    width:100%;
}
.header-text{
    margin-top: 20%;
    font-size: 25px;
}
.header-text{
    margin-top: 10%;
    text-align: center;
    font-size: 55px;
}
.header-text h1{
    text-align: center;
    font-size: 55px;
    margin-top: 5px;
}
.header-text h2{
    text-align: center;
    font-size: 70px;
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
    margin-top: 75px;
    color: white;
    word-spacing: 5px;
}
.header-text h3{
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
}
/*------Contact Stuff----->*/
.buttonsub{
    font-size: 19;
    display: inline-block;
    background-color: #33FFAC;
    text-decoration: none;
    border: 17px solid transparent;
    font-weight: bold;
    border-radius: 80px;
    margin: 15px;
    cursor: pointer;
}
.container form{ 
    width: 100%;
}
form input, form textarea{
    width: 100%; 
    border: 0;
    outline: none;
    background:rgb(0, 40, 43);
    padding: 15px;
    margin: 15px;
    color: white;
    font-size: 20px;
    border-radius: 25px;
}

/*------------ Responsive -------*/
nav .fa-solid{
    display: none;
}
@media only screen and (max-width: 600px){
    .header-text{
      margin-top: 40%;
      font-size: 16px;
    }
    .header-text h1{
      font-size: 30px;
    }
    .logo{
      width: 60px;
    }
    nav .fa-solid{
      display: block;
      font-size: 25px;
      }
    nav ul{
      background: rgb(0, 40, 43);
      opacity: 0.8;
      position: fixed;
      top: 0;
      right: -200px;
      width: 200px;
      height: 100vh;
      padding-top: 50px;
      transition: right 0.7s;
    }
    nav ul li{
      display: block;
      margin: 25px; 
    }
    nav ul .fa-solid{
      position: absolute;
      top: 25px; 
      left: 25px;
      cursor: pointer;
      z-index: 2;
    }
    .subtext{
      text-align: center;
      margin-left: 50px;
      margin-top: 50px;
    }
  
     }
    .other-col img{
      margin-left: 50px;
      margin-top: 50px;
      width: 350px;
  }